<h1>Admin Dashboard</h1>


<table class="table table-bordered">
<thead>
  <tr>
    <th colspan="2">Key Stats</th>
  </tr>
</thead>
<tbody>
<tr>
  <td>Total Products in Database</td>
  <td>Total Categories in Database</td>
</tr>
<tr>
  <td><%= @products %></td>
  <td><%= @categories%></td>
</tr>
</tbody>
</table>

